
<div class="col-md-3">
  <div class="panel-default" id="filters_product">
    <div class="panel-heading">
      <h4>Lọc sản phầm:</h4>
    </div>
    <div class="panel-body">
      <ul>
        <p>Giá sản phẩm</p>
        <li><%=link_to 'Tăng dần' %></li>
        <li><%=link_to 'Giảm dần' %></li>
        <li><%=link_to 'Từ 50.000-100.000'%></li>
      </ul>
      <ul>
        <p>Loại sản phẩm</p>
        <li><%=link_to 'Đồ bóng đá' %></li>
        <li><%=link_to 'Quần áo Yoga' %></li>
        <li><%=link_to 'Tập gym' %></li>
        <li><%=link_to 'Dụng cụ thể thao' %></li>
      </ul>
      <ul>
        <p>Độ ưu tiên</p>
        <li><%=link_to 'Sản bán chạy nhất' %></li>
        <li><%=link_to 'Đang giảm giá'%></li>
      </ul>
    </div>
  </div>
</div>
